<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="UserId" value="AB074862"/>
		<add key="Password" value="ib@direct28"/>
		<add key="ClientSecret" value="290BX4QFE1HWBHJ59PJCYMU1G45X8VXIIEVRO7TLYBY98LIVD5AGWIXQO95292GS"/>
		<add key="Token" value="TRbWYB_FsU-wExSE7h9iohM0pX0PRzrULhkjq6d9ZF4.zeW5-fS0TJCXE8iOi-l_Q8MUFetexOX4FYCdUFso0sE" />
		<add key="TokenCreatedOn" value="30-09-2020 21:29:45" />
		<add key="Quantity" value="25"/>
		<add key="StopLossPercentage" value="23"/>
		<add key="ExpiryWeek" value="8 OCT20"/>
	</appSettings>
</configuration>