<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>			
		<add key="UserId" value="AB074862"/>
		<add key="Password" value="ib@direct30"/>
		<add key="Answer1" value="a"/>
		<add key="Answer2" value="a"/>
		<add key="ClientId" value="AB074862"/>
		<add key="ClientSecret" value="290BX4QFE1HWBHJ59PJCYMU1G45X8VXIIEVRO7TLYBY98LIVD5AGWIXQO95292GS"/>
		<add key="Token" value="TRbWYB_FsU-wExSE7h9iohM0pX0PRzrULhkjq6d9ZF4.zeW5-fS0TJCXE8iOi-l_Q8MUFetexOX4FYCdUFso0sE" />
		<add key="TokenCreatedOn" value="30-09-2020 21:29:45" />
		<add key="Quantity" value="25"/>
		<add key="StopLossPercentage" value="26"/>
		<add key="ExpiryWeek" value="21211"/>
		<add key="MTMProfit" value="1100"/>
		<add key="MTMLoss" value="-2200"/>
	</appSettings>
</configuration>